.header-container{
    background-color: var(--primary-color);
    height: 165px;
    width: 100%;

    .header{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 1;
    padding-top: 16px;
    display: flex;
    justify-content: center;
    }
    .nav-links{
        padding-top: 15px;
        .link{
            float: left;
            padding: 10px;
            a{
                color: whitesmoke;
            }
        }
    }
}
.theme{
    margin-left: 20px;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 1;
    display: flex;
    justify-content: center;
}
.body-container{
    margin:20px;
}